.navbar-align {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom:20px;
}

.navbar-align a {
	text-decoration: none;
	color:red;
	letter-spacing: .2rem;
	font-size: 1.2rem;
}

.navbar-align-item {
	padding-right: 16px;
}

.navbar-align a.active{
	color:$font-color;
}

.main-navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 2.5rem;
	font-weight:300;
	padding:16px 12px;
	letter-spacing: 0.2rem;
	border-bottom: 1px solid $color-tertiary;
}

.main-navbar a {
	color:$font-color;
	text-decoration: none;
}