
.container{
	margin: 0 auto;
	max-width: $container-width;
	padding: 0 2.0rem;
	position: relative;
	width: 100%;
}



.content {
	padding:0 3.0rem;
}

.flex-search {
	display: flex;
	flex-direction: column;
	margin-bottom: 1.0rem;
}

.flex-search-input {
	display: flex;
	align-items: center;
	padding-left: 12px;
}

.flex-grid{
	display: grid;
	grid-column-gap: 15px;
}

.grid-2 {
	grid-template-columns: 1fr;
}

.grid-3 {
	grid-template-columns: 1fr;
}

.grid-4 {
	grid-template-columns: 1fr;
}

.grid-2-1 {
	grid-template-columns: 1fr;
}

@media only screen and (min-width: 600px) {
 
.grid-4 {
	grid-template-columns: 1fr 1fr;
}

.grid-3 {
	grid-template-columns: 1fr 1fr;
}

.grid-2 {
	grid-template-columns: 1fr 1fr;
}
 
}

@media only screen and (min-width: 750px) {

.flex-search{
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
 
.grid-4 {
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-3 {
	grid-template-columns: 1fr 1fr 1fr;
}

.grid-2-1 {
	grid-template-columns: 3fr 1fr;
}

 
}


