//colors

$color-primary: #4d4d4d;
$color-secondary: #999999;
$color-initial: #f2f2f2;
$color-tertiary: #cccccc !default;


//Fonts

$font-family:'Roboto', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-size: 1.6em;
$font-color:#4d4d4d !default;
$line-height: 1.6;
$font-weight: 300;
$letter-spacing: .01em;
$hcolor: #666666;


//links

$link-color: #1eaedb !default;

//Grid

$container-width: 1200px;

//Buttons

$button-color: #808080;

//forms

$input-border-color: #d1d1d1;
$input-border-color-focus: #80bfff;

//labels

$label-font-weight: 500;
$label-font-size: 1.3rem;