// fonts

$font-family:'Roboto', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-size: 1.6em;
$font-color:#4d4d4d !default;
$line-height: 1.6;
$font-weight: 300;
$letter-spacing: .01em;

//links

$link-color: #1eaedb !default;
$nav-color: #F65939;

//Grid

$container-width: 1200px;

//dropdowns

$drop-background-color: #F5F5F5;
$drop-background-color-hover: #BFBFBF;
$drop-color:#262626;

//labels

$label-font-weight: 500;
$label-font-size: 1.3rem;

//colors

$alert-danger:#FFF5F2;